.grid{
    display: grid;
    padding:  2em 2em;
    --grid-columns: 12;
    --grid-rows: 12;
    grid-template-columns: repeat(var(--grid-columns), 1fr);
    grid-template-rows: repeat(var(--grid-rows), 4em);
    font-size: 0.7em;
    font-family: monospace;
    gap: 0.2em;
}
.grid > *{
    grid-column: span 1;
    grid-row: span 1;
    color: #fff;
    text-align: left;
    padding: 0.05em;

}

.grid > *:is(*:hover, *.marked) {
    background-color: #fff;
    color: gray;
    font-weight: bold;
    transform: scale(2);
    outline: 1px solid gray;
}
