.minimap{
    --w:4rem;
    --g:.4rem;
    --wg:calc(var(--w) + var(--g));
    --scaleY: 1;

    display: flex;
    flex-direction: row;
    gap: var(--g);
}
.minimap .line:after{
    content: "🌞";
    font-size: var(--w);
}
.minimap .line {
    font-size: .7em;
    transform: scale(var(--scaleY));
}

/*}.minimap .line{*/
/*    !*left: `${i * wg}em`,*!*/
/*    width: var(--w);*/
/*    height: 3em;*/
/*    background-color: white;*/
/*    transform: scaleY(var(--scaleY));*/
/*}*/