.minimap {
    --w: 5rem;
    --g: .4rem;
    --wg: calc(var(--w) + var(--g));
    --scaleY: 1;

    display: flex;
    flex-direction: row;
    gap: var(--g);
    width: 100VW;
    justify-content: center;
    background-color: rgba(40, 44, 52, 0.2);
    color: purple;
}

.minimap .page:after {
    display: block;
    content: "🌞";
    font-size: var(--w);
}

.minimap .page {
    font-size: 2em;
    font-weight: bold;
    transform: scale(var(--scaleY));
    transition: transform 0.3s ease;
}

.drag-enter.minimap .page {
    visibility: hidden;
}

.drag-enter {
    color: rgba(40, 44, 52, 0.4);
    background-color: currentColor;
    border-radius: var(--wg);
    border: 1px dashed currentColor;
}

.drag-enter:before {
    position: absolute;
    content: "drop here ";
    font-size: var(--w);
}

.files-pending{
    display:flex;
    flex-direction: column;
    border:1px dashed currentColor;
    padding:0.2em;
    text-align: left;
}
.files-pending.group-complete{
    color: rgba(155, 160, 167, 0.9);
}

.files-pending button {
    align-self: flex-end;
    justify-self: flex-end;
    position: relative;
    margin: 0.3em auto;
    font-size: 1.2rem;
    color: rgba(155, 160, 167, 0.9);
    background-color: rgba(164, 126, 167, 0.9);
    border-radius: 0.2em;
}
/*}.minimap .page{*/
/*    !*left: `${i * wg}em`,*!*/
/*    width: var(--w);*/
/*    height: 3em;*/
/*    background-color: white;*/
/*    transform: scaleY(var(--scaleY));*/
/*}*/