#root{
  height: 100vh;
  background: black;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

@media screen  and (orientation: landscape) and (min-width:1081px) {
  .App {
    display: grid;
    grid-template-areas:
      "header header"
      "main-1 main-2"
      "footer footer";

  }
}
.App-logo {
  height: 5vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  grid-area: header;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: calc(10px + 2vmin);
}

a{
  color: #61dafb;
}

.tree-field{
  height: 50rem !important;
  grid-area: main-1;
}
.grid-control{
  grid-area: main-2;
  flex:1;
  overflow: auto;
}

.grid{
  align-self: center;
}

footer{
  grid-area: footer;
  color: white;
}